In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Project/dataset.csv", nrows=100000)  # Read only 100.000 rows

FileNotFoundError: [Errno 2] No such file or directory: 'Project/dataset.csv'

In [2]:
df.head()  # Display the first few rows of the DataFrame

,app_id,app_name,review_text,review_score,review_votes
0,10,Counter-Strike,Ruined my life.,1,0
1,10,Counter-Strike,This will be more of a ''my experience with th...,1,1
2,10,Counter-Strike,This game saved my virginity.,1,0
3,10,Counter-Strike,• Do you like original games? • Do you like ga...,1,0
4,10,Counter-Strike,"Easy to learn, hard to master.",1,1

In [3]:
df.tail()  # Display the last few rows of the DataFrame

,app_id,app_name,review_text,review_score,review_votes
99995,105600,Terraria,Cool :P,1,0
99996,105600,Terraria,One of the greatest little discovery-combat ba...,1,0
99997,105600,Terraria,It is very fun to play and there are so many t...,1,0
99998,105600,Terraria,This is one of my favorite games of all time. ...,1,0
99999,105600,Terraria,Though a 2D side scroller it still holds rathe...,1,0

In [4]:
df.info()  # Display information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   app_id        100000 non-null  int64
 1   app_name      99903 non-null   object
 2   review_text   99810 non-null   object
 3   review_score  100000 non-null  int64
 4   review_votes  100000 non-null  int64
dtypes: int64(3), object(2)
memory usage: 3.8+ MB

In [5]:
print(df.columns)  # Display the column names
print(df.shape)  # Display the shape of the DataFrame (rows, columns)

Index(['app_id', 'app_name', 'review_text', 'review_score', 'review_votes'], dtype='object')
(100000, 5)

In [6]:
df.isnull().sum()  # Display the count of missing values in each column

app_id            0
app_name         97
review_text     190
review_score      0
review_votes      0
dtype: int64

In [7]:
df[df.isnull().any(axis=1)]  # Display rows with any missing values

       app_id        app_name review_text  review_score  review_votes
505        10  Counter-Strike         NaN             1             0
539        10  Counter-Strike         NaN             1             0
540        10  Counter-Strike         NaN             1             0
588        10  Counter-Strike         NaN             1             0
675        10  Counter-Strike         NaN             1             0
...       ...             ...         ...           ...           ...
98034  105600        Terraria         NaN            -1             1
98416  105600        Terraria         NaN            -1             0
99386  105600        Terraria         NaN             1             0
99831  105600        Terraria         NaN             1             0
99857  105600        Terraria         NaN             1             0

[287 rows x 5 columns]

In [8]:
df.describe()  # Display summary statistics for numerical columns

              app_id   review_score   review_votes
count  100000.000000  100000.000000  100000.000000
mean    66839.370540       0.728680       0.146030
std     47757.058814       0.684858       0.353138
min        10.000000      -1.000000       0.000000
25%     10180.000000       1.000000       0.000000
50%    102700.000000       1.000000       0.000000
75%    105600.000000       1.000000       0.000000
max    105600.000000       1.000000       1.000000

In [9]:
df.describe(include="object")  # Display summary statistics for categorical columns

        app_name review_text
count      99903       99810
unique        39       90051
top     Terraria           .
freq       31908         230

In [10]:
df["review_text"].sample(
    5
).values  # Display a random sample of 5 reviews from the 'review' column

array(['Great game! I play it all days!', 'Love it!!',
       'You can get a baby slime to fight for you. 10/10',
       '10/6 would IGN again',
       'Other than the lack of fish AI and empty multiplayer matchmaking it is a great game. Buy it on sale.'],
      dtype=object)